{{#each this}}
<div class="col">
<div class="card" style="width: 13rem;">
    <a href="{{urls.regular}}" data-pswp-width="1200" data-pswp-height="1200" target="_blank"></a>
    <img  src="{{urls.small}}"  height="200px">
    <div class="card-body">
    <h5 class="card-title">{{user.name}}</h5>
    <p class="card-text">likes:{{likes}}</p>
    {{!-- <p class="card-text">insta:{{user.instagram_username}}</p> --}}
    </div>
</div>
</div>
{{/each}}


{{!-- {{#each this}}
<li class='list-img'>
    <img  src="{{urls.small}}" width="265px">
    <h1>{{user.name}}</h1>
    <h2>likes:{{likes}}</h2>
</li>
{{/each}} --}}
